{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    <title></title>
{% endblock %}

{% block page_contant %}
    <section class="pt-5 pb-5">
        <div class="container">
            <h1 class="text-center text-capitalize pt-5">Signup Completition</h1>
            <hr class="w-25 mx-auto pb-5 text-center">
            <div class="w-50 mx-auto">

                <p> Please confirm your email address to complete the registration</p>
                <p>Do not forget to check Spam / Junk emails in case you do not receive our activation
                    email.</p>

            </div>
        </div>
    </section>
{% endblock %}




