{% extends 'base.html' %}

{% block page_contant %}
    <div class="container pt-5">
        <div class="row">

            <div class="col-lg-2 col-md-2 col-sm-12">
                <ul class="list-group">
                    {% for  user in  users %}
                        <li>
                            <a href="{% url 'chat_inbox' user.id %}"><span>{{ user.first_name }}{{ user.last_name }}</span></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

