{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    <title></title>
{% endblock %}

{% block page_contant %}
    <section class="pt-5 pb-5">
        <div class="container">
            {% if validlink %}
                <h1 class="text-center text-capitalize pt-5">Forget Password</h1>
                <hr class="w-25 mx-auto pb-5">
                <div class="w-50 mx-auto">
                    <form class="signForms" id="password-reset-form" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-style-edulearn form-group">

                            <div class="form-style-edulearn form-group">
                                {{ field.label_tag }}{{ field }}
                            </div>
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        <input type="submit" value="Submit" class="submitBtn">

                        </div>
                    </form>
                </div>
            {% else %}
                <h1 class="text-center text-capitalize pt-5">Invalid Link</h1>
                <hr class="w-25 mx-auto pb-5">
                <div class="w-50 mx-auto">
                    <p>
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </p>
                </div>

            {% endif %}
        </div>
    </section>
{% endblock %}




