{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    <title></title>
{% endblock %}

{% block page_contant %}
    <section class="pt-5 pb-5">
        <div class="container">
            <h1 class="text-center text-capitalize pt-5">Forget Password</h1>
            <hr class="w-25 mx-auto pb-5">
            <div class="w-50 mx-auto">
                <p>
                    We've emailed you instructions for setting your password, if an account exists with the email you
                    entered.
                    You should receive them shortly.
                </p>
                <p>
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.
                </p>
            </div>

        </div>
    </section>
{% endblock %}




